[submodule ".resources/sourcerer"]
	path = .resources/sourcerer
	url = https://github.com/xero/sourcerer
[submodule "osx/base16_iterm2"]
	path = osx/base16_iterm2
	url = https://github.com/chriskempson/base16-iterm2.git
[submodule "0mniscient-discord-themes"]
	path = .resources/omnisicient-discord-themes
	url = https://github.com/0mniscient/Discord-Themes.git
[submodule "base16"]
	path = .resources/vim/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "plug.vim"]
	path = vim/.vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
