*.sw?
.DS_Store
.netrwhist
*.log
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.private_aliases
zsh/.config/zsh/.private_environment
zsh/.config/zsh/private_aliases
zsh/.config/zsh/private_environment
zsh/.config/zsh/.zshrc.zwc
bookmarks
gtk/.config/gtk-3.0/bookmarks
nvim/.config/gocode
yay/.local
