[Unit]
Description=Barrier server service
# After=network-online.service
# Requires=graphical-session.target
# After=display-manager.service
PartOf=graphical-session.target
# Requires=network-online.service

[Service]
# ExecStart=/usr/bin/barriers -c /home/seth/.config/Debauchee/screens.conf -f --enable-crypto --name seth.linklocal
ExecStart=/usr/bin/barriers -c /home/seth/.config/Debauchee/screens.conf -f --name seth.linklocal
Restart=on-failure

# [Install]
# WantedBy=xsession.target
