[Unit]
Description=Simple X HotKey Daemon
After=display-manager.service

[Service]
ExecStart=/usr/bin/sxhkd
# no encryption
# ExecStart=/usr/bin/synergyc --no-daemon --restart seth-pc.home
Restart=on-failure

[Install]
WantedBy=graphical.target
