## Replacement Aliases ###
alias hist="cat -n ~/.bash_history"

### Editing Aliases ###
alias aliases="$EDITOR ~/.aliases; source ~/.aliases"
alias bash_profile="$EDITOR ~/.bash_profile; source ~/.bash_profile"
alias bashrc="$EDITOR ~/.bashrc; source ~/.bashrc"
alias todo="$EDITOR ~/.todo"
alias standup="$EDITOR ~/.standup"
alias docker="docker --tlsverify=false $@"

function ebl() {
    ssh -i ~/.ssh/dev-ops.pem ec2-user@$1
}


### utility aliasees ###
alias ls="ls -G $@"
alias cidr="cat ~/.cidr"
alias env="env | sort"

function bannertime() {
    defaults write com.apple.notificationcenterui bannerTime $@
}

### org-specific aliases ###
source ~/.private_aliases

