[Unit]
Description=input-leap client service
After=display-manager.service

[Service]
ExecStart=/usr/bin/input-leapc --no-daemon --restart --enable-crypto 10.100.0.127
# no encryption
# ExecStart=/usr/bin/synergyc --no-daemon --restart seth-pc.home
Restart=on-failure

[Install]
WantedBy=graphical.target
