! urxvt*foreground: white
! urxvt*background: black

! *color0:  #2E3436
! *color1:  #a40000
! *color2:  #4E9A06
! *color3:  #C4A000
! *color4:  #3465A4
! *color5:  #75507B
! *color6:  #ce5c00
! *color7:  #babdb9
! *color8:  #555753
! *color9:  #EF2929
! *color10: #8AE234
! *color11: #FCE94F
! *color12: #729FCF
! *color13: #AD7FA8
! *color14: #fcaf3e
! *color15: #EEEEEC

! Base16 Atelier Lakeside
! Scheme: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)

#define base00 #111111
#define base01 #aa4450
#define base02 #719611
#define base03 #ff9800
#define base04 #6688aa
#define base05 #8f6f8f
#define base06 #528b8b
#define base07 #d3d3d3
#define base08 #181818
#define base09 #ff6a6a
#define base0A #b1d631
#define base0B #87875f
#define base0C #90b0d1
#define base0D #8181a6
#define base0E #87ceeb
#define base0F #c1cdc1

! human-friendly colors
# define white #ffffff
!!! grayscale
# define gray0  #111111
# define gray1  #222222
# define gray2  #333333
# define gray3  #444444
# define gray4  #555555
# define gray5  #666666
# define gray6  #777777
# define gray7  #888888

!!! extra colors
#define yellow  base0A
#define orange  base09
#define red     base08
#define magenta base0F
#define violet  base0E
#define blue    base0D
#define cyan    base0C
#define green   base0B

! █▓▒░ sorcerer colors
*foreground:   #c2c2b0
*background:   #222222
*cursorColor:  #c2c2b0
! black
*color0:       base00
*color8:       base08
! red
*color1:       base01
*color9:       base09
! green
*color2:       base02
*color10:      base0A
! yellow
*color3:       base03
*color11:      base0B
! blue
*color4:       base04
*color12:      base0C
! magenta
*color5:       base05
*color13:      base0D
! cyan
*color6:       base06
*color14:      base0E
! white
*color7:       base07
*color15:      base0F
! stylized
*colorIT:      #719611
*colorBD:      #d3d3d3
*colorUL:      #528b8b


URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.font: xft:DroidSansMono:size=8:antialias=true
! URxvt.font: xft:-*-fontawesome-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.lineSpace: -9
URxvt.letterSpace: -0.5
! URxvt.font: 9x15

! rofi.color-normal: gray1,blue,gray1,blue,white
! activebg, text, pinstripe1, potentialprog bg, potentialprog fg
rofi.color-enabled: true
! rofi.color-normal: blue,gray0,gray1,blue,white
! rofi.color-normal: blue, blue, blue, blue, blue
! rofi.color-normal: blue, blue, blue, blue, blue
rofi.color-window: gray0,gray0
! rofi.color-active: color9,color8
