[Unit]
Description=Lemonbar wrapper
After=display-manager.service

[Service]
Type=forking
ExecStart=/home/seth/bin/bar-wrapper

[Install]
WantedBy=default.target
