## Replacement Aliases ###
# alias hist="cat -n ${HOME}/.bash_history"

### utility aliasees ###
alias cidr="cat ${HOME}/.cidr"
alias env="env | sort"
alias reload="source ${HOME}/.zshrc"

### Editing Aliases ###
alias aliases="$EDITOR ${HOME}/.aliases && source ${HOME}/.aliases"
alias todo="$EDITOR ${HOME}/TODO.md"
# alias docker="docker --tlsverify=false $@"

# convenience
function reload() {
    if [ -e "${HOME}/.zshrc" ]; then
        source "${HOME}/.zshrc"
    else
        printf "No .zshrc in \"${HOME}\". Bootstrap or check your env.\n"
    fi
}

function git-clean-all() {
    local cwd dir
    cwd="$(pwd)"

    for dir in *; do
        git --work-tree="$cwd/$dir" --git-dir="$cwd/$dir/.git" clean -xdff
    done
}

if [ "$KERNEL" = "Darwin" ]; then
    # alias lockscreen="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
    alias ls="ls -G $@"
    alias lockscreen="pmset displaysleepnow"

    function bannertime() {
        defaults write com.apple.notificationcenterui bannerTime $@
    }
elif [ "$KERNEL" = "Linux" ]; then
    alias ls="ls --color $@"

    function temps() {
        watch \
            'printf "GPU:\t\t+%s°C\n" \
             $(nvidia-smi --query-gpu=temperature.gpu --format=csv,noheader);
             sensors coretemp-isa-0000 | grep C'

    }

    function pacman-clean() {
        sudo pacman -Rsn $(pacman -Qdtq)
    }
fi


### org-specific aliases ###
if [ -e "${HOME}/.private_aliases" ]; then
    source "${HOME}/.private_aliases"
fi
