[Unit]
Description=deluged
After=display-manager.service

[Service]
ExecStart=/usr/bin/ssh -i ~/.ssh/nas -fNL 127.0.0.2:58846:localhost:58846 deluge@nas
Restart=on-failure

[Install]
WantedBy=graphical.target
