[Unit]
Description=deluged
After=display-manager.service

[Service]
ExecStart=/usr/bin/deluged -d
Restart=on-failure

[Install]
WantedBy=graphical.target
